.post__head {
    position: relative;
    width: 100%;
    background: #FFF;
}

.post__head:after {
    content: "";
    position: absolute;
    top: 100%;
    height: 10px;
    left: 0;
    right: 0;
    box-shadow: 0 10px 10px -5px #fff inset;
}

.post__head-arrow {
    border-top: 6px double #bbb;
    margin: 30px -20px 0;
    padding: 0 20px;
    position: relative;
}

.post__head-arrow:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 2px;
    width: 20px;
    border-top: 6px double #999;
    transform: skewY(-40deg);
    margin-left: -20px;
}

.post__head-arrow:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 2px;
    width: 20px;
    border-top: 6px double #999;
    transform: skewY(40deg);
    margin-right: -20px;
}

.post__head h1 {
    padding: 0;
    line-height: 40px;
    margin: -23px 0 0 20px;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    font-weight: 100;
    font-size: 28px;
    color: #444;
    position: relative;
}